.wave-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  overflow: hidden;
}

.waves {
  position: relative;
  width: 100%;
  height: 100%;
  animation: move-forever 25s linear infinite;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}